@media only screen and (max-device-width: 1200px) {
    
}

@media only screen and (max-device-width: 992px) {
    
}

@media only screen and (max-device-width: 768px) {
    
}

@media only screen and (max-device-width: 480px) {
    .body-table1 {
        order: 1;
        border-spacing: 20px 0px;
        z-index: 0;
    }
    .body-img1 {transform: rotate(40deg);}
    .body-table2 {
        z-index: 1;
        margin-bottom: 0px;
        margin-top: 10px;
        border-spacing: 50px 0px;
    }
    #header {width: 130.5vw;}
    #main-menu {width: 130.5vw;}
    .firstnumber {width: 130.5vw;}
    #div-img1 {width: 130.5vw;}
    footer {width: 130.5vw;}
}

@media only screen and (max-device-width: 320px) {
    
}
